@use './variables/colors' as color;
@use './variables/sizes' as size;
@use './variables/text' as txt;
@use '../base/typography' as typo;

// Headings
@mixin heading-1 {
    font-family: typo.$font-family-secondary;
    font-size: typo.$font-size-heading1;
    font-weight: typo.$font-weight-xstrong;
    color: color.$txt-primary;
}

@mixin heading-2 {
    font-family: typo.$font-family-secondary;
    font-size: typo.$font-size-heading2;
    font-weight: typo.$font-weight-medium;
    color: color.$txt-primary;
}

@mixin heading-3 {
    font-family: typo.$font-family-secondary;
    font-size: typo.$font-size-heading3;
    font-weight: typo.$font-weight-medium;
    color: color.$txt-primary;
}

// Navbar - desktop and tablet
@mixin navbar-desktop {
    position: relative;
    transform: translateX(0);
}

@mixin navbar-title {
    font-size: txt.$nav-mid-title;
    font-weight: typo.$font-weight-strong;
    color: color.$txt-navbar-nav-title;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

@mixin navbar-nav {
    font-size: txt.$nav-mid-nav;
    color: color.$txt-navbar-nav;
    font-weight: typo.$font-weight-light;
    gap: 10px;
    padding: size.$padding-nav-content;
    transition: size.$transition-nav;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    position: relative;
    border-radius: 9px;
}

@mixin navbar-hover {
    color: color.$txt-navbar-nav-hover;
    background-color: color.$bg-navbar-nav-hover;
}

// Navbar - mobile
@mixin navbar-mobile {
    background-color: color.$bg-teriatry;
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 0;
    left: 0;
    top: 0;
    width: size.$navbar-size;
    transform: translateX(-100%);
    z-index: 60;
}

// Cards
@mixin card-main {
    background-color: color.$bg-primary;
    border: 1px solid color.$border-primary;
    border-radius: 14px;
    box-shadow: size.$shadow-primary-size color.$shadow-primary
                size.$shadow-secondary-size color.$shadow-secondary;
    transition: size.$transition-card;
    padding: size.$padding-card-main;
    overflow: hidden;
    position: relative;
}

@mixin card-statistics {
    background-color: color.$bg-primary;
    border: 1px solid color.$border-primary;
    border-radius: 14px;
    padding: size.$padding-card-stat;
    box-shadow: size.$shadow-primary-size color.$shadow-primary
                size.$shadow-secondary-size color.$shadow-secondary;
    overflow: hidden;
    position: relative;
}

// Topbar
@mixin topbar {
    height: size.$topbar-size;
    background-color: color.$bg-primary;
    display: flex;
    align-items: center;
    gap: size.$gap-topbar;
}

// Bottombar - only for mobile
@mixin bottombar {
    background-color: color.$bg-primary;
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 64px;
    z-index: 90;
}

// MEDIA QUERIES
@mixin respond-to($bp) {
    @media screen and (min-width: $bp) {
        @content;
    }
}

@mixin respond-between($bp-start, $bp-end) {
    @media screen and (min-width: $bp-start) and (max-width: $bp-end) {
        @content;
    }
}