// Paddings
$padding-card-main: 18px;
$padding-card-stat: 18px 20px;

$padding-card-stat-item: 9px 0;

$padding-modal-heading: 20px 22px 14px;
$padding-modal-content: 20px 22px;
$padding-modal-footer: 14px 22px 20px;

$padding-label-num: 3px 9px;
$padding-label-text: 1px 7px;

$padding-btn: 9px 20px;

$padding-top: 0 26px;
$padding-content: 24px 26px;

$padding-nav-top: 22px 18px 16px;
$padding-nav-content: 9px 10px;
$padding-nav-bottom: 14px 10px;

$padding-input: 9px 13px;

// Gaps
$gap-modal-content: 12px;
$gap-modal-footer: 9px;

$gap-nav-nav: 10px;

$gap-topbar: 14px;

// Shadows
$shadow-primary-size: 0 1px 3px;
$shadow-secondary-size: 0 4px 16px;
$shadow-hover-size: 0 8px 32px;

// Transforms
$transform: translateY(-1px);

// Transitions
$transition-card: all .2 ease;
$transition-button: background .2s ease-in-out;
$transition-nav: all .15s ease;

// Navbar
$navbar-size: 230px;

// Topbar
$topbar-size: 60px;

// Breakpoints
$bp-mobile: 576px;
$bp-tablet: 768px;
$bp-laptop: 992px;
$bp-desktop: 1200px;
$bp-xdesktop: 1400px;