// Headings
$heading-1-mobile: 18px;
$heading-1-desktop: 20px;

$heading-2-mobile: 12px;
$heading-2-desktop: 15px;

$heading-3-mobile: 11px;
$heading-3-desktop: 13px;

// Navigation
// Top
$nav-top-title: 15px;
$nav-top-subtitle: 10px;
// Middle
$nav-mid-title: 10px;
$nav-mid-nav: 13px;
// Bottom
$nav-bot-name: 13px;
$nav-bot-client: 11px;
$nav-bot-initials: 11px;

// Amounts
$amount-main-mobile: 14px;
$amount-main-desktop: 16px;

$amount-large: 13px;
$amount-medium: 12px;
$amount-small: 11px;

// Subtitles
$subtitle-large: 12px;
$subtitle-medium: 11px;
$subtitle-small: 10px;

// Charts
$chart-vertical-title: 10px;
$chart-horizontal-title: 12px;

// Labels
$label-num: 11px;
$label-txt: 10px;