@use '../abstract/variables/colors' as color;
@use '../abstract/variables/sizes' as size;
@use '../abstract/variables/text' as txt;
@use '../base/typography' as typo;
@use '../abstract/mixins' as *;

// Grid and Flexbox to group of cards
.cards {
    &-main {
        display: grid;
        grid-template-columns: 1fr;
        gap: 14px;

        @include respond-to(size.$bp-tablet) {
            grid-template-columns: 1fr 1fr;
        }

        @include respond-to(size.$bp-laptop) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }

    &-details {
        display: grid;
        grid-template-columns: 1fr;
        gap: 14px;

        @include respond-to(size.$bp-laptop) {
            grid-template-columns: 1fr 1fr;
        }
    }
}


// single card
.card {

    &-main {
        @include card-main;
        padding: size.$padding-card-main;

        &:hover {
            box-shadow: size.$shadow-hover-size color.$shadow-hover;
            transform: translateY(-2px);
        }

        &__topline {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            height: 4px;
            z-index: 51;
            border-radius: 14px 14px 0 0;

            &-blue {
                background-color: color.$line-blue;
            }

            &-orange {
                background-color: color.$line-orange;
            }

            &-green {
                background-color: color.$line-green;
            }

            &-purple {
                background-color: color.$line-purple;
            }
        }

        &__icon {
            width: 38px;
            height: 38px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;

            &-blue {
                background-color: color.$icon-bg-blue;
                color: color.$icon-txt-blue;
            }

            &-orange {
                background-color: color.$icon-bg-orange;
                color: color.$icon-txt-orange;
            }

            &-green {
                background-color: color.$icon-bg-green;
                color: color.$icon-txt-green;
            }

            &-purple {
                background-color: color.$icon-bg-purple;
                color: color.$icon-txt-purple;
            }
        }

        &__amount {
            margin-bottom: 20px;

            &-title {
                text-transform: uppercase;
                color: color.$txt-secondary;
                font-size: 11px;
                letter-spacing: .6px;
                margin-bottom: 10px;
                font-weight: typo.$font-weight-medium;
            }

            &-price {
                font-size: txt.$amount-main-mobile;
                font-weight: typo.$font-weight-strong;
                line-height: 1;
                color: color.$bg-teriatry;

                @include respond-to(size.$bp-desktop) {
                    font-size: txt.$amount-main-desktop;
                }

                &-current {
                    font-size: 13px;
                    font-weight: typo.$font-weight-light;
                    color: color.$txt-secondary;
                    margin-left: 2px;
                }
            }
        }

        &__chart {
            margin-top: 20px;
        }
    }

    &-details {
        @include card-statistics;

        &__head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;

            &-title {
                font-size: 13px;
                font-weight: typo.$font-weight-strong;
                color: color.$txt-primary;
            }

            &-link {
                font-size: 12px;
                color: color.$txt-links;
                cursor: pointer;
                font-weight: typo.$font-weight-medium;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        &__item {
            padding: size.$padding-card-stat-item;
            cursor: pointer;

            &:not(:last-child) {
                border-bottom: 1px solid color.$border-primary;
            }

            &-heading {
                display: flex;
                align-items: center;
                gap: 10px;
                margin-bottom: 6px;
            }

            &-icon {
                width: 34px;
                height: 34px;
                border-radius: 9px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
            }

            &-description {
                flex: 1;

                &-title {
                    font-size: 13px;
                    font-weight: typo.$font-weight-medium;
                    color: color.$txt-primary;
                }

                &-subtitle {
                    font-size: 11px;
                    color: color.$txt-secondary;
                    margin-top: 4px;
                }
            }

            &-amount {
                text-align: right;

                &-price {
                    font-size: 13px;
                    font-weight: typo.$font-weight-strong;
                    color: color.$txt-primary;
                    margin-bottom: 2px;
                }
            }
        }
    }
}