@use '../abstract/variables/colors' as color;
@use '../abstract/variables/sizes' as size;
@use '../abstract/variables/text' as txt;
@use '../abstract/mixins' as *;
@use '../base/typography' as typo;

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    border-radius: 10px;

    &-main {
        background-color: color.$btn-bg-primary;
        color: color.$bg-primary;
    }

    &-topbar {
        width: 36px;
        height: 36px;
        border-radius: 9px;
        border: 1px solid color.$border-primary;
        background-color: color.$bg-primary;
        cursor: pointer;
        transition: size.$transition-topbar;

        &:hover {
            background-color: #F7F9FE;
            border-color: rgba(26, 86, 219, .2);
        }
    }

    &-blue {
        background-color: color.$icon-bg-blue;
        color: color.$icon-txt-blue;
    }
}