@use '../abstract/variables/colors' as color;
@use '../abstract/variables/sizes' as size;
@use '../abstract/variables/text' as txt;
@use '../base/typography' as typo;
@use '../abstract/mixins' as *;

// Sidebar overlay
.sidebar-overlay {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(8, 14, 30, .5);
    z-index: 50;
    backdrop-filter: blur(2px);

    &.active {
        display: block;
    }
}