@use '../abstract/variables/colors' as color;
@use '../abstract/variables/sizes' as size;
@use '../abstract/variables/text' as txt;
@use '../base/typography' as typo;
@use '../abstract/mixins' as *;

.topbar {
    display: flex;
    background-color: color.$bg-primary;
    border-bottom: 1px solid color.$border-primary;
    align-items: center;
    gap: size.$gap-topbar;
    transition: size.$transition-topbar;
    height: size.$topbar-size;
    padding: 0 14px;

    @include respond-to(size.$bp-laptop) {
        padding: 0 26px;
        position: absolute;
        top: 0;
        right: 0;
        left: size.$navbar-size;
    }

    &-left {
        display: flex;
        align-items: center;
        gap: 10px;

        &__title {
            display: flex;
            flex-direction: column;

            &-heading {
                @include heading-1;
            }

            &-subheading {
                @include subheading;

                i {
                    font-style: italic;
                }
            }
        }

        &__hamburger {
            @include respond-to(size.$bp-laptop) {
                display: none;
            }
        }

        &__title {

            &-subheading {
                display: none;

                @include respond-to(size.$bp-laptop) {
                    display: block;
                }
            }
        }
    }

    &-right {
        display: flex;
        align-items: center;
        margin-left: auto;
        gap: 10px;

        &__search {
            display: none;

            @include respond-to(size.$bp-laptop) {
                display: block;
            }
        }

        &__button {

            .btn--desktop {
                display: none;

                @include respond-to(size.$bp-laptop) {
                    display: block;
                }
            }

            .btn--mobile {
                display: block;

                @include respond-to(size.$bp-laptop) {
                    display: none;
                }
            }
        }
    }
}